<body>
	<%= render partial: "admin/header" %>
	<%= render partial: "admin/lframe" %>
	<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
		<h1>Enter Catregory Name</h1>
      <%= form_for @category do |b| %>
        <p>
          <%= b.text_field :name %>
        </p>
        <p>
          <%= b.submit "ADD" %>
        </p>
        <% end %>
		    <%= link_to 'Back', {:action => 'index'} %>
	</div>
	<div>
	  <%= render partial: "admin/footer" %>
  </div>
</body>
