<body>
  <h1>Edit Book Details</h1>
  <%= form_for @book, :url =>{:action => "update", :id =>@book} do |f| %>
    <p>
      Name: <%= f.text_field 'name' %>
    </p>
    <p>
      Author: <%= f.text_field 'author' %>
    </p>
    <p>
      Price: <%= f.text_field  'price' %>
    </p>
    <p>
      <%= f.label :Select_Category %>
      <%= f.select(:category_id, options_for_select([['programming',1],['mathematics',2],['motivational',
      3]])) %>
    </p>
  <%= f.submit "Save changes" %>
  <% end %>
</body>