<body>
  <h1>Edit Book Details</h1>
  <%= form_for @book, :url =>{:action => "update", :id =>@book} do |f| %>
    <p>
      Name: <%= f.text_field 'name' %>
    </p>
    <p>
      Author: <%= f.text_field 'author' %>
    </p>
    <p>
      Price: <%= f.text_field  'price' %>
    </p>
    <p>
      <%= f.label :category_id, "Select Category" %><br />
      <%= f.collection_select :category_id, Category.order(:id), :id, :name %>
    </p>
  <%= f.submit "Save changes" %>
  <% end %>
</body>