<body>
	<%= render partial: "admin/header" %>
	<%= render partial: "admin/lframe" %>
  <div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
    <h1>Books</h1>
    <table name="books" border = "1">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>Author</th>
        <th>Price</th>
        <th>Category ID</th>
        <th>iamge</th>
      </tr>
      <tr>
        <td><%= @book.id %></td>
        <td><%= @book.name %></td>
        <td><%= @book.author %></td>
        <td><%= @book.price %></td>
        <td><%= @book.category_id %></td>
        <th><%= image_tag(@book.image, size: 30) %></th>
      </tr>
    </table><br><br>
    <%= link_to 'Back', {:action => 'index'} %>
  </div>
  <%= render partial: "admin/footer" %>
</body>