<body>
  <%= render partial: "header" %>
  <div id="admin_body" align="center">
    <h1>Login As Admin</h1>
    <%= form_for @admin , :url => { :controller => 'admin', :action => 'login' }, method: 'post' do |a| %>
      <p>
        <%= a.label :username %>
        <%= a.text_field :name %>
      </p>
      <p>
        <%= a.label :password %>
        <%= a.text_field :password %>
      </p>
      <%= a.submit "Login"  %><br><br>
      <%= link_to "Forgot your password" , "/forgot_password" %><br><br>
	  New User?<%= link_to "Register here" , "/register" %><br><br>
    
    <% end %>
  </div>
</body>