<body>
  <h1>Edit Issue Details</h1>
  <%= form_for @book_issue, :url =>{:action => "update", :id => @book_issue} do |f| %>
    <p>
      Issue Date: <%= f.text_field 'issue_date' %>
    </p>
    <p>
      Return Date: <%= f.text_field 'return_date' %>
    </p>
    <p>
      Student ID: <%= f.text_field  'student_id' %>
    </p>
    <p>
      Book ID: <%= f.text_field  'book_id' %>
    </p>
  <%= f.submit "Save changes" %>
  <% end %>
</body>