<body>
  <center>
    <h1>Edit Student Details</h1>
    <%= form_for @student, :url =>{:action => "update", :id =>@student} do |f| %>
      <p>
        Name: <%= f.text_field 'name' %>
      </p>
      <p>
        City: <%= f.text_field 'city' %>
      </p>
      <p>
        Email: <%= f.text_field 'email' %>
      </p>
      <p>
        <%= f.label :department_id, "Select Department" %><br/>
        <%= f.collection_select :department_id, Department.order(:id), :id, :name %>
      </p>
    <%= f.submit "Save changes" %>
    <% end %>
  </center>
</body>