<body>
	<%= render partial: "admin/header" %>
	<%= render partial: "admin/lframe" %>
	<div name="right_frame" align="center" style="float:left; border:2px solid black; width:881px; height:480px;">
		<center>
      <h1>New Student Registration</h1>
      <h1>Enter details</h1>
      <%= form_for @student do |b| %>
      <p>
        <%= b.label :enter_name %>
        <%= b.text_field :name %>
      </p>
      <p>
        <%= b.label :enter_email %>
        <%= b.text_field :email %>
      </p>
      <p>
        <%= b.label :enter_city %>
        <%= b.text_field :city %>
      </p>
      <p>
          <%= b.label :department_id, "Select Category" %><br />
          <%= b.collection_select :department_id, Department.order(:id), :id, :name, include_blank: true
          %>
        </p>
      <p>
        <%= b.submit "ADD"%>
      </p>
      <% end %>
  		<%= link_to 'Back', {:action => 'index'} %>
  	</div>
	</center>
  <div>
	  <%= render partial: "admin/footer" %>
  </div>
</body>
